In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saldanha,ZA,2022-02-01 20:10:41,-33.0117,17.9442,65.30,97,21,9.13
1,1,Punta Arenas,CL,2022-02-01 20:10:41,-53.1500,-70.9167,53.62,50,40,42.57
2,2,Rikitea,PF,2022-02-01 20:10:42,-23.1203,-134.9692,78.08,70,87,6.42
3,3,Vaini,TO,2022-02-01 20:07:40,-21.2000,-175.2000,82.56,78,75,4.61
4,4,Bluff,NZ,2022-02-01 20:10:42,-46.6000,168.3333,69.80,74,100,13.04

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature USING LIST COMPREHENSION
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level =1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# call the figure and plot
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# call the figure and plot
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of WIndspeed
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# call the figure and plot
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# ASk the ustomer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# FIlter the dataset to fin the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2022-02-01 20:10:42,-23.1203,-134.9692,78.08,70,87,6.42
3,3,Vaini,TO,2022-02-01 20:07:40,-21.2000,-175.2000,82.56,78,75,4.61
6,6,Takoradi,GH,2022-02-01 20:10:43,4.8845,-1.7554,80.53,80,34,8.70
9,9,Kapaa,US,2022-02-01 20:10:44,22.0752,-159.3190,75.52,72,40,1.01
11,11,Avarua,CK,2022-02-01 20:10:44,-21.2078,-159.7750,80.65,83,40,11.50
12,12,Butaritari,KI,2022-02-01 20:10:44,3.0707,172.7902,81.50,75,73,10.94
13,13,Samarai,PG,2022-02-01 20:10:45,-10.6167,150.6667,80.74,79,100,12.71
14,14,Carnarvon,AU,2022-02-01 20:10:45,-24.8667,113.6333,75.27,83,100,16.11
21,21,Eyl,SO,2022-02-01 20:10:47,7.9803,49.8164,75.97,82,100,18.86
22,22,Port Moresby,PG,2022-02-01 20:09:24,-9.4431,147.1797,75.94,82,100,5.86

In [13]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [14]:
# Create a DataFrame called hotel_df to store the hotel names along with city, country, max temp, and cooredinates
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name']=""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2        Rikitea      PF     78.08 -23.1203 -134.9692
3          Vaini      TO     82.56 -21.2000 -175.2000
6       Takoradi      GH     80.53   4.8845   -1.7554
9          Kapaa      US     75.52  22.0752 -159.3190
11        Avarua      CK     80.65 -21.2078 -159.7750
12    Butaritari      KI     81.50   3.0707  172.7902
13       Samarai      PG     80.74 -10.6167  150.6667
14     Carnarvon      AU     75.27 -24.8667  113.6333
21           Eyl      SO     75.97   7.9803   49.8164
22  Port Moresby      PG     75.94  -9.4431  147.1797

In [15]:
# Set parameters to search for a hotel
params = {
    "radius":5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitdue to the location key for teh params dictionary
    params['location'] = f"{lat},{lng}"
    
    # Use the search term "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get teh JSON data from the search
    hotels = requests.get(base_url, params = params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... Skipping.")

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rikitea,PF,78.08,-23.1203,-134.9692,People ThankYou
3,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
6,Takoradi,GH,80.53,4.8845,-1.7554,Raybow International Hotel
9,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
12,Butaritari,KI,81.50,3.0707,172.7902,Isles Sunset Lodge
13,Samarai,PG,80.74,-10.6167,150.6667,Nuli Sapi
14,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
21,Eyl,SO,75.97,7.9803,49.8164,Amiin Hotel
22,Port Moresby,PG,75.94,-9.4431,147.1797,Lamana Hotel (Port Moresby)

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))